<div *ngIf="question" class="card mx-4 mt-4">
  <div class="title-pane mb-3">
    <h3 class="title text-center pb-2">{{ question.title }}</h3>
  </div>
  <p class='message'>{{ question.message }}</p>
  <div *ngIf="question.type == 'word'" class='form-group'>
    <label for='answer'>Answer: </label>
    <input type='text' [(ngModel)]='choiceText' name='answer' class='form-control' (input)='onAnswerChange()'> 
  </div>
  <div *ngIf="question.type == 'choice'"
    class="btn-pane row justify-content-center">
    <button
      *ngFor="let choice of question.choices"
      class="col-md-5 m-2 btn font-bold"
      [class.btn-primary]='choice == choiceText'
      [class.btn-outline-primary]='choice != choiceText'
      (click)='onAnswerChange(choice)'
    >
      {{ choice }}
    </button>
  </div>
  <div class='d-flex justify-content-center sync-panel'>
    <div *ngIf="loading" class="spinner-border loading" role="status">
    </div>
    <p *ngIf="!loading && messageText" [ngStyle]='{ "color": messageColor }' [textContent]='messageText' class='text-center'></p>
  </div>
</div>
