<div class='slider d-flex' [ngStyle]='{ "transform": "translateX(" + (-cardIndex * 100) + "%)" }'>
    <div class='text-center d-flex flex-column justify-content-center'>
        <h1>Welcome!</h1>
        <p>To go forward or back in the trivia, please press the back and forward arrows.</p>

        <svg xmlns="http://www.w3.org/2000/svg" (click)='goForward()' width="32" height="32" fill="black" class="forward-button" viewBox="0 0 16 16">
            <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
        </svg>
    </div>
    <app-trivia-card (goForwardEmitter)="goForward()" (goBackwardEmitter)="goBackward()" *ngFor='let question of (triviaService.trivia | async)?.triviaQuestions' [question]='question'></app-trivia-card>
    <div class='text-center d-flex flex-column justify-content-center'>
        <h1>Secret Santa</h1>
        <div class='row justify-content-center align-items-center'>
            <p>Your secret Santa is {{ (triviaService.trivia | async)?.secretSantaGifter }}!</p>
            <img *ngIf='(triviaService.trivia | async)?.secretSantaGifterPictureUri' class='ss-img' [src]='SITE_URL + "/pictures/" + (triviaService.trivia | async)?.secretSantaGifterPictureUri'>
            <p>Your secret Santa got you...</p>
            <h2 style='text-decoration: underline'>{{ (triviaService.trivia | async)?.secretSantaGift ?? "Nothing! They haven't answered yet!" }}</h2>
            <h4>Yay!</h4>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" (click)='goForward()' width="32" height="32" fill="black" class="forward-button" viewBox="0 0 16 16">
            <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" (click)='goBackward()' width="32" height="32" fill="black" class="back-button" viewBox="0 0 16 16">
            <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
        </svg>
    </div>
    <div class='text-center d-flex flex-column justify-content-center'>
        <h1>Ratings</h1>
        <p>Here's how you were rated by your fam!</p>
        <app-creature-chart></app-creature-chart>
        <svg xmlns="http://www.w3.org/2000/svg" (click)='goForward()' width="32" height="32" fill="black" class="forward-button" viewBox="0 0 16 16">
            <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" (click)='goBackward()' width="32" height="32" fill="black" class="back-button" viewBox="0 0 16 16">
          <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
        </svg>
    </div>
    <div class='text-center d-flex flex-column justify-content-center'>
        <h1>Thanks!</h1>
        <p>Merry Christmas! <a routerLink='/take-trivia' (click)='redirectTo("/take-trivia")' >Click to take the trivia again!</a></p>
        <svg xmlns="http://www.w3.org/2000/svg" (click)='goBackward()' width="32" height="32" fill="black" class="back-button" viewBox="0 0 16 16">
          <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
        </svg>
    </div>
</div>